uses of cotetion

In [5]:
print("hii")
print("this's is my notebook") #print("this is my notebook")
print('it\'s shiva mishra')
print("""hello every one
it is use for many  lines codes
you can alsosee this""")

hii
this's is my notebook
it's shiva mishra
hello every one
it is use for many  lines codes
you can alsosee this

Comments in python

In [6]:
# is use for single line comment

#In this we use commen in one line and python ignore this line 
"""it is  use for 
multiline cotetion
this is theird line
"""

'it is  use for \nmultiline cotetion\nthis is theird line\n'

variable in python

In [7]:
#python is case senstitive
a = "hello"
print(a)

hello

Datatype and User_input

In [8]:
name = input("what is your name") #for text
age = int(input("what is your age")) # for integer
length = float(input("what is the float value")) #it is use for float value
# print(name)
# print(age)
# print(length)
# now we might be give the value of like name, age, lenght
exp1 = eval(input("enter the enaluation numbber:"))
print(exp1) # in this we give the input 43+37 the calculate this from this function

23

Datatype

In [9]:
age = 36
print(type(age))

<class 'int'>

In [10]:
name = "shiva"
print(type(name))

<class 'str'>

In [11]:
a = 378
b = 58.57
print(type(a))
print(type(b))
c  = a+b
print(c)
print(type(c))
a = float(a)
print("after convertion",type(a))
print(a)

<class 'int'>
<class 'float'>
436.57
<class 'float'>
after convertion <class 'float'>
378.0

Problem solving

In [12]:
# write a  code to display a person`s name, age, address in three different lines.

name = "Shiva Mishra"
age = 34
address = "711 purani haveli dada jii ka ghar"
print(name)
print(age)
print(address)
# print (name,age,address)__from this  these all are print in one line

Shiva Mishra
34
711 purani haveli dada jii ka ghar

In [13]:
# swappinng  of  variable
# In python when we use "=" sign that mean right value is swap in left side.

x= (12)
y= (13)
temp = x
print (temp)
x = y
print(x)
y = temp
print(y)
print("value of x is:",x)
print("value of y is:",y )

# method 2

a = 38
b = 57
  #left,right=right,left
a,b=b,a
print(a)
print(b)

12
13
12
value of x is: 13
value of y is: 12
57
38

In [14]:
# in practice time
x = (38)
y = (12)
temp=x
print(temp)
x=y
print(x)
y = temp
print(y)

38
12
38

In [15]:
# write  a  program to connvert  float into integer. 

x = 34.5
print(type(x))
x = int(x)
print("after convertion",type(x))
print(x)

<class 'float'>
after convertion <class 'int'>
34

In [16]:
# write a  program  to take take detail  from student for ID-Card abnd  then printit in different lines. 

name = input("Enter the name of student: ")
grade = int(input("Enter the grade of student: "))
age = int(input("enter the age of student: "))
email = input("enter the e-mail of student: ")
ph_no = input("enter the phone_no. of stuent: ")
print("name: ", name)
print("grade: ", grade)
print("age: ", age)
print("phone_no.: ", ph_no)
print("email :", email)

name:  shiva
grade:  12
age:  21
phone_no.:  33343326555
email : shiva09@gmail.com

In [17]:
# write a program to take on user input as integer then convert into float

age= int(input("write the age"))
print(age)
print(type(age))
age = float(age)
print("after convertion",(age))
print(type(age))

23
<class 'int'>
after convertion 23.0
<class 'float'>

In [18]:
age = int(input("type age:"))
print(age)
print(type(age))
age= float(age)
print(age)
print(type(age))

23
<class 'int'>
23.0
<class 'float'>

# Type casting and sub typecasting